@model LibSys.Models.Resource

<h1>Resource Delete</h1>

<h4>Are you sure you want to delete this resource?</h4>
<div>
    <h4>ID: @Model.Id</h4>
    <h4>Title: @Model.Title</h4>
    <h4>Author: @Model.Author</h4>
    <h4>Publisher: @Model.Publisher</h4>
    <h4>Publication Date: @Model.PublicationDate.ToShortDateString()</h4>
    <h4>ISBN: @Model.ISBN</h4>
    <h4>Description: @Model.Description</h4>
</div>

<form asp-controller="Resource" asp-action="Delete" asp-route-id="@Model.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this resource?');">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Resource" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
</form>
